# General
/target/
**/*.rs.bk
Cargo.lock

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db

# Build Artifacts & Logs
*.bin
*.img
*.iso
*.iso.bin
*.iso.lock
*.log
*.txt
*.tmp
build_output.txt
check_output.txt
test_output.txt

# Docker

# Agents
agents/

